.simulator-button {
  margin-top: 20px;
  padding: 14px 28px;
  font-size: 1rem;
  background-color: white; /* 크림색 */
  border: 1px solid black; /* 연두색 둘레 */
  border-radius: 0px;
  color: #6E9D30; /* 진한 초록 */
  cursor: pointer;
  font-family:  'IBM Plex Sans KR', sans-serif;
  transition: all 0.2s ease-in-out;
}

.simulator-button:hover {
  background-color: #CDE990; /* 배경색 반전 */
  color: black;             /* 텍스트 색도 반전 */
}

.simulator-button:active {
  transform: scale(0.96);     /* 클릭 시 살짝 작아짐 */
}


.new-simulator-button {
  margin-top: 0px;
  padding: 8px 16px;
  font-size: 1rem;
  background-color: white; /* 크림색 */
  border: 1px solid #6E9D30; /* 연두색 둘레 */
  border-radius: 14px;
  color: #6E9D30; /* 진한 초록 */
  cursor: pointer;
  font-family:  'IBM Plex Sans KR', sans-serif;
  transition: all 0.2s ease-in-out;
}

.new-simulator-button:hover {
  background-color: #CDE990; /* 배경색 반전 */
  color: black;             /* 텍스트 색도 반전 */
}

.new-simulator-button:active {
  transform: scale(0.9);     /* 클릭 시 살짝 작아짐 */
}
